In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("imdb_top_1000.csv")

In [3]:
df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [4]:
df.isnull().sum()

Poster_Link        0
Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

In [5]:
169+157+101

427

In [6]:
a = df[df.isnull().any(axis=1)]

In [7]:
i_certi = df[df['Certificate'].isnull()].index

In [8]:
i_meta = df[df['Meta_score'].isnull()].index

In [9]:
i_gross = df[df['Gross'].isnull()].index

In [10]:
df['Certificate'].mode()

0    U
Name: Certificate, dtype: object

In [11]:
m = np.arange(start=0, stop=1000, step=1)

In [12]:
np.median(m)

499.5

In [13]:
499+500/2

749.0

In [14]:
df.loc[749,'Certificate']

'UA'

In [15]:
i_certi

Index([ 30,  54,  77,  92, 121, 122, 126, 138, 163, 181,
       ...
       869, 885, 899, 909, 913, 920, 926, 944, 998, 999],
      dtype='int64', length=101)

In [16]:
df.drop(i_certi, axis = 0,inplace = True)

In [17]:
df.reset_index(drop = True,inplace = True)

In [18]:
i_meta = df[df['Meta_score'].isnull()].index

In [19]:
df.drop(i_meta, axis = 0, inplace = True)

In [20]:
df.reset_index(drop = True, inplace = True)

In [21]:
i_gross = df[df['Gross'].isnull()].index

In [22]:
df.drop(i_gross, axis = 0, inplace = True)

In [23]:
df.reset_index(drop = True, inplace = True)

In [24]:
df.isna().sum()

Poster_Link      0
Series_Title     0
Released_Year    0
Certificate      0
Runtime          0
Genre            0
IMDB_Rating      0
Overview         0
Meta_score       0
Director         0
Star1            0
Star2            0
Star3            0
Star4            0
No_of_Votes      0
Gross            0
dtype: int64

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 714 entries, 0 to 713
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    714 non-null    object
 1   Series_Title   714 non-null    object
 2   Released_Year  714 non-null    object
 3   Certificate    714 non-null    object
 4   Runtime        714 non-null    object
 5   Genre          714 non-null    object
 6   IMDB_Rating    714 non-null    float64
 7   Overview       714 non-null    object
 8   Meta_score     714 non-null    float64
 9   Director       714 non-null    object
 10  Star1          714 non-null    object
 11  Star2          714 non-null    object
 12  Star3          714 non-null    object
 13  Star4          714 non-null    object
 14  No_of_Votes    714 non-null    int64
 15  Gross          714 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 89.4+ KB

In [26]:
df['Gross']

0       28,341,469
1      134,966,411
2      534,858,444
3       57,300,000
4        4,360,000
          ...
709        696,690
710      1,378,435
711    141,843,612
712     13,780,024
713     30,500,000
Name: Gross, Length: 714, dtype: object

In [27]:
df['Gross'] = df['Gross'].str.replace(',','').astype(int)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 714 entries, 0 to 713
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    714 non-null    object
 1   Series_Title   714 non-null    object
 2   Released_Year  714 non-null    object
 3   Certificate    714 non-null    object
 4   Runtime        714 non-null    object
 5   Genre          714 non-null    object
 6   IMDB_Rating    714 non-null    float64
 7   Overview       714 non-null    object
 8   Meta_score     714 non-null    float64
 9   Director       714 non-null    object
 10  Star1          714 non-null    object
 11  Star2          714 non-null    object
 12  Star3          714 non-null    object
 13  Star4          714 non-null    object
 14  No_of_Votes    714 non-null    int64
 15  Gross          714 non-null    int32
dtypes: float64(2), int32(1), int64(1), object(12)
memory usage: 86.6+ KB

In [29]:
df['Runtime']

0      142 min
1      175 min
2      152 min
3      202 min
4       96 min
        ...
709    157 min
710    144 min
711     78 min
712     87 min
713    118 min
Name: Runtime, Length: 714, dtype: object

In [30]:
df['Runtime']=df['Runtime'].str.replace(' ','')

In [31]:
df['Runtime'] = df['Runtime'].str.replace('min','')

In [32]:
df['Runtime']

0      142
1      175
2      152
3      202
4       96
      ...
709    157
710    144
711     78
712     87
713    118
Name: Runtime, Length: 714, dtype: object

In [33]:
df.drop('Poster_Link', axis = 1, inplace = True)

In [34]:
df.drop('Overview', axis = 1, inplace = True)

In [35]:
df

,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,The Shawshank Redemption,1994,A,142,Drama,9.3,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,28341469
1,The Godfather,1972,A,175,"Crime, Drama",9.2,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,134966411
2,The Dark Knight,2008,UA,152,"Action, Crime, Drama",9.0,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,534858444
3,The Godfather: Part II,1974,A,202,"Crime, Drama",9.0,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,57300000
4,12 Angry Men,1957,U,96,"Crime, Drama",9.0,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,4360000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
709,Giù la testa,1971,PG,157,"Drama, War, Western",7.6,77.0,Sergio Leone,Rod Steiger,James Coburn,Romolo Valli,Maria Monti,30144,696690
710,Kelly's Heroes,1970,GP,144,"Adventure, Comedy, War",7.6,50.0,Brian G. Hutton,Clint Eastwood,Telly Savalas,Don Rickles,Carroll O'Connor,45338,1378435
711,The Jungle Book,1967,U,78,"Animation, Adventure, Family",7.6,65.0,Wolfgang Reitherman,Phil Harris,Sebastian Cabot,Louis Prima,Bruce Reitherman,166409,141843612
712,A Hard Day's Night,1964,U,87,"Comedy, Music, Musical",7.6,96.0,Richard Lester,John Lennon,Paul McCartney,George Harrison,Ringo Starr,40351,13780024
713,From Here to Eternity,1953,Passed,118,"Drama, Romance, War",7.6,85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,30500000

In [36]:
#df.to_csv('imdb.csv', index= False)

In [37]:
df.columns

Index(['Series_Title', 'Released_Year', 'Certificate', 'Runtime', 'Genre',
       'IMDB_Rating', 'Meta_score', 'Director', 'Star1', 'Star2', 'Star3',
       'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

In [47]:
df['Series_Title'] = df['Series_Title'].str.strip()

In [48]:
df['Released_Year'] = df['Released_Year'].str.strip()

In [49]:
df['Certificate'] = df['Certificate'].str.strip()

In [50]:
df['Runtime'] = df['Runtime'].str.strip()

In [51]:
df['Genre'] = df['Genre'].str.strip()

In [53]:
df['Director'] = df['Director'].str.strip()

In [54]:
df['Star1'] = df['Star1'].str.strip()

In [55]:
df['Star2'] = df['Star2'].str.strip()

In [56]:
df['Star3'] = df['Star3'].str.strip()

In [57]:
df['Star4'] = df['Star4'].str.strip()

In [59]:
df.to_csv('imdb.csv', index= False)

In [61]:
df.to_excel('output.xlsx', 'sheet1', index=False)